{% extends 'base.html' %}
{% block title %}
Change password
{% endblock title %}

{% block content %}
<div class="container"> 
    <div class="bg-light p-3 rounded">
        <h2>Change Password</h2>
        <p>Please careful on your password.</p>
    </div>
    <div class="col-sm-6" style="margin: 35px" align="left">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.current_password.label(class="form-label") }}
                {{ form.current_password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.new_password.label(class="form-label") }}
                {{ form.new_password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.new_password_confirm.label(class="form-label") }}
                {{ form.new_password_confirm(class="form-control") }}
                {{ render_error(form.new_password) }}
            </div>
            <div class="col-12">
                {{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-secondary" href="{{ url_for('users.account') }}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


