{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}

{% block content %}
<div class="container">
    <div class="bg-light p-3 rounded">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quidem quibusdam dolor voluptatum iste aspernatur dolorum sequi animi pariatur? Eligendi provident placeat natus voluptas numquam deleniti laboriosam consequatur cum dignissimos?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, assumenda consectetur est eius quo corrupti aliquam quasi, maxime, dignissimos amet mollitia nostrum obcaecati nam reiciendis voluptates. Pariatur eaque provident quod!</p>
    </div>
</div>
{% endblock content %}




